<div id="events_form">
  <div id="form_header"><h4>Create New Event</h4></div>
  <% if @event.errors.any? %>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="options">
    <div class="fields">
      <%= form_for(@event)  do |f| %>
      <%= f.text_field :name, :placeholder => "Name:" %><br />
      <%= f.text_area :description, :placeholder => "Details:" %><br />
      <%= f.text_field :location, :placeholder => "Where:" %><br />

      <ul id="options">
        <li><%= f.label  'From' %></li>
        <li><%= f.datetime_select :start_datetime, :ampm => true, :minute_step => 15 %></li>
        <li><%= f.label  'To' %></li>
        <li><%= f.datetime_select :end_datetime, :ampm => true, :minute_step => 15 %></li>
      </ul><br /><br />

      <%= f.number_field :headcount_min, :placeholder => "Headcount min?" %><br />
      <%= f.number_field :headcount_max, :placeholder => "Required: headcount max" %><br />

    </div><!--/fields-->
  </div><!--/options-->

    <div id="form_footer">
      <%= f.submit %>
      <%= link_to 'Cancel', events_path %>
    </div>
  <% end %>
</div>
