<script type="text/javascript">
  $(document).on('fbInit', function() {
    Facebook.getFriendsData(function(response) {
      console.log(response.data);
      for(var i = 0;i < response.data.length;i++) {
        $('#facebook_ids').append(Facebook.createFriendCheckbox(response.data[i]));
      }
    });
  });
</script>

<div id="event_status">
  <div id="title">
    Event Status
  </div>
  <div id="event_friends">
    <h3>Going</h3>
    <div>
      <ul>
        <% @event.acceptable_invites.attending.each do |invitee| %>
          <li><%= invitee.name %></li>
        <% end %>
      </ul>
    </div>
    <h3>Not Going</h3>
    <div>
      <ul>
        <% @event.acceptable_invites.declined.each do |invitee| %>
          <li><%= invitee.name %></li>
        <% end %>
      </ul>
    </div>
    <h3>Maybe</h3>
    <div>
      <ul>
        <% @event.acceptable_invites.maybe.each do |invitee| %>
          <li><%= invitee.name %></li>
        <% end %>
      </ul>
    </div>
    <h3>No Reply</h3>
    <div>
      <ul>
        <% @event.acceptable_invites.noreply.each do |invitee| %>
          <li><%= invitee.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <ul id="event_details">
    <li><h6>What:</h6> <%= @event.name %></li>
    <li><h6>When:</h6> <%= @event.start_datetime.localtime.strftime('%l:%M%p on %d %b %Y') %></li>
    <li><h6>Until:</h6> <%= @event.end_datetime.localtime.strftime('%l:%M%p on %d %b %Y') %></li>
    <li><h6>Where:</h6> <%= @event.location %></li>
    <li><h6>Attendees:</h6> <%= @event.acceptable_invites.attending.count %></li>
    <li><h6>Description: </h6> <%= @event.description %></li>
    <li class="event_edit_links"><%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Really delete?' } %> |
    <%= link_to 'Home', events_path %></li>
  </ul>
</div> <!-- #event_status -->
